/* ====== IMPORT FONTS ====== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ======IMPORT STYLES ====== */
@import url('menu.css');

/* ====== GLOBAL STYLES ====== */
/* GLOBAL STYLES - EVERYTHING*/
* {
    margin: 0;
    padding: 0;
}
*::selection {
    background-color: #e69808;
    color: #333;
}

html {
    scrollbar-color: #e69808 rgba(50, 50, 50, 0.5);
    scrollbar-width: thin;
}

/* GLOBAL STYLES - BODY */
body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    background-color: #333;
    color: #f4f4f4;
    height: 200vh;
}

/* GLOBAL STYLES - HEADER */
header {
    z-index: 1000;
    position: sticky;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 10px;
    width: calc(100% - 30px);
    padding: 5px;
    /* background-color: rgba(0, 0, 0, 0.15); */
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.15);
}
header nav {
    display: none;
}

/* GLOBAL STYLES - MAIN */
main {
    padding: 20px;
}

/* GLOBAL STYLES - FOOTER */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #aaa;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* GLOBAL STYLES - HEADER */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.8rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}



/* ====== EFFECTS ====== */
/* EFFECTS - GLASS LIQUID */
.glass-liquid {
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}